<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>UserWrokServlet</servlet-name>
        <servlet-class>com.revenge.bookstore.web.UserWrokServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserWrokServlet</servlet-name>
        <url-pattern>/userWrokServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookWrokServlet</servlet-name>
        <servlet-class>com.revenge.bookstore.web.BookWrokServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookWrokServlet</servlet-name>
        <url-pattern>/manager/bookWrokServlet</url-pattern>
    </servlet-mapping>

</web-app>